:root {
  --prymary-text-color: #8f95a5;
  --prymary-background-color: #ffffff;
  --secondary-background-color: #263238;
  --secondary-text-color: #ffffff;
  --butt-bg-color: #e5e5e5;
  --main-sp-color: #2a3246;
  --secod-sp-color: #546269;
  --bg-sp-color: #eeeeee;
  --logo-color: #000000;
  --sec-logo-color: #939393;
}
body {
  background-color: var(--prymary-background-color);

  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 1.5;
}
.section {
  padding-top: 0;
  padding-bottom: 0;
}
.contaner {
  width: 1338px;
  padding-left: 20px;
  padding-right: 20px;
  margin: 0 auto;

  outline: 2px solid #ef4def;
}
.link {
  text-decoration: none;
}
.list {
  margin: 0;
  padding: 0;
  list-style: none;
}
h1,
h2,
h3,
p {
  margin-top: 0;
  margin-bottom: 0;
}
img {
  display: block;
  margin: 0;
}
.second-title {
  color: var(--logo-color);

  font-weight: 600;
  font-size: 48px;
}
.third-title {
  color: var(--secondary-background-color);

  font-weight: 600;
  font-size: 30px;
}
.pricing-title {
  text-transform: capitalize;
}

/* Header */
.nav-contaner {
  display: flex;
  align-items: center;
}
.nav-header {
  display: flex;
  justify-content: center;
}
.hed-list {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-left: 236px;
}
.hed-list .header-item {
  margin-right: 50px;
}
.hed-list .header-item:last-child {
  margin-right: 0;
}
.logo-link {
  padding: 55px 0;
  font-size: 36px;
}
.hed-list .hed-link {
  color: var(--secondary-background-color);

  font-weight: 500;
}
.head-but {
  min-width: 312px;
  padding: 20px 56px;
  margin-left: auto;
  border: 2px solid #263238;
  border-radius: 10px;

  background-color: var(--butt-bg-color);
  color: var(--logo-color);

  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.03em;
}

/* Hero */
.hero-contaner {
  display: flex;
}
.hero-title {
  margin-bottom: 40px;

  color: var(--logo-color);

  font-weight: 600;
  font-size: 64px;
  line-height: 1.25;
}
.hero-text {
  margin-bottom: 60px;

  color: var(--prymary-text-color);

  font-size: 24px;
}
.btn-hero {
  min-width: 426px;
  padding: 23px 64px;
  border-radius: 10px;
  background-color: var(--secondary-background-color);
  color: var(--bg-sp-color);
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 1.5;
  letter-spacing: 0.03em;
  text-align: center;
}
.img-hero {
  margin-left: 144px;
}
/* Skills */
.section-skills {
  padding-top: 180px;
}
.skills-title {
  margin-bottom: 60px;
  text-align: center;
}

.skills-list.skills-parent {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}
.speaking-block {
  grid-area: 1 / 1 / 3 / 2;
  margin-right: 30px;
}
.writing-block {
  grid-area: 1 / 2 / 2 / 3;
  margin-right: 30px;
}
.reading-block {
  grid-area: 1 / 3 / 2 / 4;
}
.listening-block {
  grid-area: 2 / 2 / 3 / 4;
  margin-top: 30px;
}
.skills-item {
  background-color: var(--bg-sp-color);
}
.speak-title {
  margin-top: 24px;
  margin-bottom: 20px;
}
.speak-text {
  margin-bottom: 30px;
}
.block-listening {
  display: flex;
  flex-direction: row-reverse;
}
.skills-text {
  color: var(--prymary-text-color);

  font-size: 16px;
}
.btn-skills {
  background-color: var(--secondary-background-color);
  color: var(--secondary-text-color);

  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
}

/* About Us */
.section-about {
  padding-top: 180px;
}
.about-contaner {
  display: flex;
}
.about-block {
  padding-right: 146px;
}
.about-title {
  margin-bottom: 60px;
}
.about-text {
  max-width: 652px;
  height: 216px;
  margin-bottom: 30px;
  color: var(--prymary-text-color);

  line-height: 1.8;
}
.about-list {
  display: flex;
}
.about-item {
  margin-right: 131px;
}
.about-item:last-child {
  margin-right: 0;
}
.numbers-bl {
  text-align: center;
}
.namber-us {
  margin-bottom: 6px;

  color: var(--main-sp-color);

  font-weight: 600;
  font-size: 48px;
}
.namber-text {
  color: var(--prymary-text-color);
}

/* Pricing */
.section-pricinh {
  padding-top: 180px;
}
.pricing-title {
  margin-bottom: 60px;
  text-align: center;
}
.pricing-lict {
  display: flex;
  justify-content: center;
  align-items: center;
}
.pricing-item {
  margin-right: 30px;
}
.pricing-item:last-child {
  margin-right: 0;
}
.online-title {
  margin-top: 31px;
  margin-bottom: 20px;
}
.lesson-title {
  margin-top: 31px;
  margin-bottom: 18px;
}
.person-title {
  margin-top: 31px;
  margin-bottom: 20px;
}
.pricing-text.online {
  margin-bottom: 30px;
  color: var(--prymary-text-color);
}
.pricing-text.lesson {
  margin-bottom: 57px;
  color: var(--prymary-text-color);
}
.pricing-text.person {
  margin-bottom: 60px;
  color: var(--prymary-text-color);
}
.price-block.online-block {
  display: flex;
  align-items: center;
  max-width: 260px;
  height: 45px;
  padding: 5px 22px 4px 23px;
  background: var(--bg-sp-color);
  border-radius: 5px;
}
.price-block.lesson-block {
  display: flex;
  align-items: center;
  max-width: 260px;
  height: 45px;
  padding: 5px 22px 4px 29px;
  background: var(--bg-sp-color);
  border-radius: 5px;
}
.price-block.person-block {
  display: flex;
  align-items: center;
  max-width: 260px;
  height: 45px;
  padding: 5px 22px 4px 29px;
  background: var(--bg-sp-color);
  border-radius: 5px;
}
.online-price {
  margin-right: 28px;
  color: var(--secondary-background-color);

  font-size: 24px;
}
.lesson-price,
.person-price {
  margin-right: 21px;
  color: var(--secondary-background-color);

  font-size: 24px;
}
.period {
  color: var(--secod-sp-color);

  font-size: 18px;
}

/* Contact Us */
.section-contact {
  padding-top: 180px;
  padding-bottom: 55px;
}
.cont-text {
  color: var(--prymary-text-color);
}
.btn-contact {
  background-color: var(--secondary-background-color);
  color: var(--secondary-text-color);

  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.5;
  letter-spacing: 0.03em;
}

/* Footer */
.fotter-link {
  color: var(--prymary-text-color);

  font-size: 24px;
  letter-spacing: 0.02em;
}
