:root {
  --prymary-text-color: #8f95a5;
  --prymary-background-color: #ffffff;
  --secondary-background-color: #263238;
  --secondary-text-color: #ffffff;
  --butt-bg-color: #e5e5e5;
  --main-sp-color: #2a3246;
  --secod-sp-color: #546269;
  --bg-sp-color: #eeeeee;
  --logo-color: #000000;
  --sec-logo-color: #939393;
}
body {
  background-color: var(--bg-sp-color);

  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 1.5;
}
.section {
  padding-top: 0;
  padding-bottom: 0;
}
.contaner {
  width: 1338px;
  padding-left: 20px;
  padding-right: 20px;
  margin: 0 auto;

  outline: 2px solid #ef4def;
}
.link {
  text-decoration: none;
}
.list {
  margin: 0;
  padding: 0;
  list-style: none;
}
h1,
h2,
h3,
p {
  margin-top: 0;
  margin-bottom: 0;
}
.second-title {
  color: var(--logo-color);

  font-weight: 600;
  font-size: 48px;
}
.third-title {
  color: var(--secondary-background-color);

  font-weight: 600;
  font-size: 30px;
}
.pricing-title {
  text-transform: capitalize;
}

/* Header */
.header-section {
  margin-top: 55px;
  margin-bottom: 55px;
}
.nav-contaner {
  display: flex;
  align-items: center;
}
.nav-header {
  display: flex;
  justify-content: center;
}
.hed-list {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-left: 236px;
}
.hed-list .header-item {
  margin-right: 50px;
}
.hed-list .header-item:last-child {
  margin-right: 0;
}
.logo-link {
  font-size: 36px;
}
.hed-list .hed-link {
  color: var(--secondary-background-color);

  font-weight: 500;
}
.head-but {
  min-width: 312px;
  padding: 20px 56px;
  margin-left: auto;
  border: 2px solid #263238;
  border-radius: 10px;

  background-color: var(--butt-bg-color);
  color: var(--logo-color);

  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.03em;
}

/* Hero */
.section-hero {
  margin-bottom: 180px;
}
.hero-contaner {
  display: flex;
}
.hero-title {
  margin-bottom: 40px;

  color: var(--logo-color);

  font-weight: 600;
  font-size: 64px;
  line-height: 1.25;
}
.hero-text {
  margin-bottom: 60px;

  color: var(--prymary-text-color);

  font-size: 24px;
}
.btn-hero {
  min-width: 426px;
  padding: 23px 64px;
  border-radius: 10px;
  background-color: var(--secondary-background-color);
  color: var(--bg-sp-color);
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 1.5;
  letter-spacing: 0.03em;
  text-align: center;
}
.img-hero {
  display: block;
  margin-left: 144px;
}
/* Skills */
/* .section-skills {
  text-align: center;
} */
.skills-list {
  display: flex;
  /* justify-content: space-between; */
}
.skills-item {
  margin-right: 30px;
}
.skills-item:last-child {
  margin-right: 0;
}
.block-listening {
  display: flex;
  flex-direction: row-reverse;
}
.skills-text {
  color: var(--prymary-text-color);

  font-size: 16px;
}
.btn-skills {
  background-color: var(--secondary-background-color);
  color: var(--secondary-text-color);

  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
}

/* About Us */
.about-text {
  color: var(--prymary-text-color);

  line-height: 1.8;
}
.namber-us {
  color: var(--main-sp-color);

  font-weight: 600;
  font-size: 48px;
}
.namber-text {
  color: var(--prymary-text-color);
}

/* Pricing */
.pricing-text {
  color: var(--prymary-text-color);
}
.price {
  color: var(--secondary-background-color);

  font-size: 24px;
}
.period {
  color: var(--secod-sp-color);

  font-size: 18px;
}

/* Contact Us */
.cont-text {
  color: var(--prymary-text-color);
}
.btn-contact {
  background-color: var(--secondary-background-color);
  color: var(--secondary-text-color);

  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.5;
  letter-spacing: 0.03em;
}

/* Footer */
.fotter-link {
  color: var(--prymary-text-color);

  font-size: 24px;
  letter-spacing: 0.02em;
}
